$sx: 320px;
$md: 768px;
$lg: 1186px;
$lg-1: 1185px;
$md-1: 767px;

$white: #ffffff;
$red: #fd2016;
$red-hover: #d30f05;

$bg-common: #0b0a0d;
$hover: #75ff72;

$bg-green: #20c863;
$bg-user: #7b8691;

$color-header: #282828;
$color-site-list: #1c1c1c;
$color-sub-menu: #929292;
$color-link: #2067b0;
$color-reaction: #828b95;

$hover-menu: #0f0e0e;
